*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color: #212329;
    padding-bottom: 4rem;
}
.footer{
    width: 80%;
    height: 40vh;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2{
    margin-bottom: 2rem;
}
.footer-heading a{
    color: #fff;
    text-decoration: none;
}